.mat-card-container {
  display: flex;
  gap: 20px;

  flex-wrap: wrap;

  .mat-card {
    min-height: 150px;
    min-width: 150px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .mat-card-header {
      font-weight: bold;
      display: block;
      margin: 0 auto;
    }

    .mat-card-content {
      height: 100%;
    }
  }

  .mat-card-actions {
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
