<h1>Add a note</h1>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Titlu</mat-label>
      <input matInput name="noteTitle" formControlName="title" />
    </mat-form-field>
    <br />
    <small
      class="error-message"
      *ngIf="
        myForm.get('title').invalid &&
        myForm.get('title').errors &&
        (myForm.get('title').dirty || myForm.get('title').touched) &&
        myForm.get('title').hasError('required')
      "
      >This filed is required.</small
    >
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Descriere</mat-label>
      <textarea
        matInput
        name="noteDescription"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <br />
    <small
      class="error-message"
      *ngIf="
        myForm.get('description').invalid &&
        myForm.get('description').errors &&
        (myForm.get('description').dirty ||
          myForm.get('description').touched) &&
        myForm.get('description').hasError('required')
      "
      >This filed is required.</small
    >
    <small
      class="error-message"
      *ngIf="
        myForm.get('description').invalid &&
        myForm.get('description').errors &&
        (myForm.get('description').dirty ||
          myForm.get('description').touched) &&
        myForm.get('description').hasError('minlength')
      "
    >
      The minimum length for this field is 10 characters.
    </small>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Categorie</mat-label>
      <select matNativeControl formControlName="categoryId">
        <option value="-1" disabled>Alege categorie</option>
        <option value="category.id" *ngFor="let category of categories">
          {{ category.name }}
        </option>
      </select>
    </mat-form-field>
  </div>
  <button mat-raised-button [disabled]="!myForm.valid" type="submit">
    Add
  </button>
</form>
